body{
    font-family: Nunito;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: rgb(29, 28, 28);
}


p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: lighter;
    color: rgb(169, 169, 169);

}

.menu {
    justify-content: center;
    position: fixed;
    width: 2000px;
    height: 105px;
    align-items: center;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 10px black;
}

.container {
    max-width: 900px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 10rem;
    object-fit: cover;
}

.navegation {
    margin-right: 0;
}

.nav-items {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-items li {
    list-style: none;
}


.nav-items li a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;

}

.nav-items li a {
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}


/*Contenidos_________________________________________________________________________*/

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 710px;
    gap: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("slide1-parallax.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    h1, p {
        color: rgb(255, 255, 255);
    }
}

button {
width: 205px;
height: 42px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(48, 153, 252);
    border-radius: 25px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

img {
    max-width: 70%;
    max-height: 50%;
}

/*Texto____________________________________________________________________________________*/

.container2 {
    max-width: 1100px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}

.Tittle {
    padding-bottom: 25px;
}

.boton {
    padding-left: 100px;
}

.boto {
    height: 45px;
    background-color: rgb(236, 23, 112);
    width: 210px;
}



/*Fotos_______________________________________________________*/


.container3 {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    width: 100%;
}

.service-element {
    width: 10000px;
    height: 400px;
    flex-direction: column-reverse;
    text-align: center;
    display: flex;
    color: white;
    background-size: cover;

    div {
        height: 29%;

        h1 {
            color: aliceblue;
        }

        h2 {
            text-transform: uppercase;
            font-size: 15px;
            padding-top: 10px;
            padding-bottom: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }

        padding-top: 18px;
        background-color:  rgba(0, 0, 0, 0.5);
        border-bottom: 6px solid rgb(48, 153, 252);
    }
}

#service {
    background-image: url(Captura2.png);
}

#about {
    background-image: url(Captura1.png);
}

#team {
    background-image: url(Captura3.png);
}

/*Our Services_____________________________*/

#Encabezado{
    h2{
        color: rgb(139, 139, 139);
        text-transform: uppercase;
        font-size: 15px;
        padding-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif;  
    }
}



.container4 {
text-align: justify;    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.Tittlee {
    padding-bottom: 20px;
}
.Subtittlee {
    color: rgb(139, 139, 139);
    padding-bottom: 20px;

    h3{
        font-size: 21px;
font-weight: lighter;    
}
}

#imag {
    width: 500px;
    padding-left: 20px;

}

.botonn {
    margin-top: 50px;
    height: 45px;
    background-color:rgb(48, 153, 252);
    width: 210px;
}

/*Carrusel___________________________________*/